Mojo::Cookie::Response does not set the domain parameter according to RFC 6265

* Mojolicious version: 7.61
* Perl version: 5.24
* Operating system: Debian Stretch / Ubuntu Xenial

### Steps to reproduce the behavior
1. Use Mojo::UserAgent to retrieve a cookie from a site that does not set the `domain` parameter.
2. Test the domain parameter of this cookie in the UA's cookie jar.

### Expected behavior
The cookie should have a host_only flag set, and have its domain set as specified in RFC 6265 Section 5.3 bullet point 6: https://tools.ietf.org/html/rfc6265#section-5.3

>    6.   If the domain-attribute is non-empty: … Otherwise … Set the cookie's domain to the canonicalized request-host

### Actual behavior
An extra 'origin' attribute was introduced to attempt to fix this problem which holds the original source of the cookie: https://github.com/kraih/mojo/commit/8e1895893360fcde403df19e51035f0cdb72477f

This introduces an additional bug however, in that two cookies with the same name from the same domain are considered distinct due to the unset 'domain' parameter: https://github.com/kraih/mojo/blob/master/t/mojo/cookiejar.t#L289 — RFC 6265 Section 5.3 bullet point 11 indicates these conflict and the old one should be removed from the store.

> Let old-cookie be the existing cookie with the same name, domain, and path as the newly created cookie … Remove the old-cookie from the cookie store

The result of this is that cookies can be submitted to sites regardless of them having a blank domain set due to the non-standard origin attribute. Without knowledge of this attribute cookies cannot be serialized or copied correctly.

This tiny mojo lite app exhibits the behaviour, the cookie stored in the jar should include the domain name of its source.

```perl
use Mojolicious::Lite;
use Mojo::UserAgent;
use Data::Dump 'pp';

get '/set' => sub {
	my $c = shift;
	$c->cookie(test => 'ing');
	return $c->rendered(200);
};

get '/say' => sub {
	my $c = shift;
	return $c->render(
		text => "Say handler got cookies: " . join ', ', map { pp($_) } $c->req->cookies->@*
	);
};

my $ua   = Mojo::UserAgent->new;
# This request sets a testing cookie without a domain parameter
# according to RFC 6265 Section 5.3 bullet 6 this should be set to the request-host
$ua->get("/set");

# Printing the cookie's parameters show no domain. Serializing or copying this cookie without
# copying the instance or the 'origin' parameter results in inconsistent behaviour below.
map { say "Cookie '" . $_->name . "' has domain '" . $_->domain . "'" } $ua->cookie_jar->all->@*;

# This request will send the acquired cookie despite it appearing not to have a domain above
# as it silently promotes 'origin' to 'domain' upon making the request
#
# This behaviour was introduced to fix this same problem, but does so incorrectly
# https://github.com/kraih/mojo/commit/8e1895893360fcde403df19e51035f0cdb72477f
say $ua->get("/say")->res->body;
```

```
[Wed Jan 31 15:31:52 2018] [debug] GET "/set"
[Wed Jan 31 15:31:52 2018] [debug] Routing to a callback
[Wed Jan 31 15:31:52 2018] [debug] 200 OK (0.000491s, 2036.660/s)
Use of uninitialized value in concatenation (.) or string at test.pl line 27.
Cookie 'test' has domain ''
[Wed Jan 31 15:31:52 2018] [debug] GET "/say"
[Wed Jan 31 15:31:52 2018] [debug] Routing to a callback
[Wed Jan 31 15:31:52 2018] [debug] 200 OK (0.000557s, 1795.332/s)
Say handler got cookies: bless({ name => "test", value => "ing" }, "Mojo::Cookie::Request")
```

Tests implemented here: https://metacpan.org/source/SRI/Mojolicious-7.61/t/mojo/cookie.t#L380

Also seems to be at odds with that spec line requiring the request-host be included.

`Mojo::UserAgent` does not serialize cookies, i find this report rather confusing.

Hi sri, Mojo::Cookie::Response is doing the serializing with to_string. I apologise for the confusion.

Since there's a work in progress pull request open now i'll close this issue.