Response to invalid url (double slash at start of path)

* Mojolicious version: 7.67
* Perl version: 5.20.2
* Operating system: Debian 8.10

### Steps to reproduce the behavior

Mojo Lite under Hypnotoad, with the relevant bit right here:
```
get '/*whatever' => \&get_page;

sub get_page {
	my $c        = shift;
	print $c->req->url->host, "\n";
```
Request an url of the form "http://machinename:port//fred/fish" (note the extra double slashes - I assume it works the same without an explicit port number, but that's my only test setup right now).

### Expected behavior

Something should probably return a 400, but I'm not sure at what level - if Mojo::Url signals that the url was invalid, I don't know where it happens.

If Mojo is going to just carry on as though things are normal (since apparently browsers do), it should probably return the correct host and the path as "/fred/fish."

### Actual behavior

The host is "fred" and the path carries on with just "/fish." (Additional double slashes, which are legal everywhere else, don't have any further effect.) 

Since you're talking about what's "legal", i'll assume you've been studying specs and that led you to these conclusions. Could you please reference the spec sections we are not compliant with? That would be very helpful.

Well, now I'm not sure if I'm reading the spec right. RFC 3986 (3.3 Paths) says 

> If a URI does not contain an authority component, then the path cannot begin with two slash characters ("//").

which is backwards from what I initially read it as; I was assuming this was to account for things like the protocol-relative CSS usage. But it's the other way around, so apparently the url *is* valid. Which means Mojo definitely shouldn't be returning the first bite of path as the hostname (and dropping the real hostname).

So I amend my initial expectation: the path should be returned as "//fred/fish" since that's allowable.

(Hmm. https://stackoverflow.com/a/20524044 reads the RFC backwards too, so it's not just me.)

It comes out of the regex okay so I'm wondering if the double slashes are triggering another call to Mojo::URL, but I haven't poked deeply into that.

It's more complicated than that, the URL gets deconstructed and rebuilt for transport over HTTP. https://github.com/kraih/mojo/blob/master/lib/Mojo/Message/Request.pm#L58

Posting a more complete example for reproduction purposes: https://gist.github.com/Grinnz/dd283bfe6a477c278a2f73fe8196bc6f

Given that this is a very uncommon use case, and the spec so imprecise about how to deal with it. I tend towards just saying that we are ok with how it is handled now and leaving it at that. Unless of course there's a good proposal for how to handle it differently without major downside.

There's more specs involved here than just RFC 3986, perhaps one of the others describes the correct behaviour more clear?

I kind of felt that way initially (after all, I only encountered it as the result of a typo because putting double slashes in the path on purpose is stupid and unpredictable). So if someone is getting a 404 because the first bite of the path gets disappeared, that's not a bad thing (because they still should probably get a 404 because the empty bite of path pushes everything down a level, technically).

_But_ then I thought: what about cases where someone deliberately constructs an url for you like "http://oneofmyvirtualdomains.com//adifferentone.com/path/" - it could be used to bypass Apache directives that deal with virtual domains differently <vague handwaving about details>.

Still might be obscure enough that just documenting the behavior is adequate, though: "don't trust the hostname at this level if you handle virtuals differently."

For example, here's the part of RFC 7230 that applies here. https://tools.ietf.org/html/rfc7230#section-5.3
```
5.3.  Request Target

   Once an inbound connection is obtained, the client sends an HTTP
   request message (Section 3) with a request-target derived from the
   target URI.  There are four distinct formats for the request-target,
   depending on both the method being requested and whether the request
   is to a proxy.

     request-target = origin-form
                    / absolute-form
                    / authority-form
                    / asterisk-form

5.3.1.  origin-form

   The most common form of request-target is the origin-form.

     origin-form    = absolute-path [ "?" query ]

   When making a request directly to an origin server, other than a
   CONNECT or server-wide OPTIONS request (as detailed below), a client
   MUST send only the absolute path and query components of the target
   URI as the request-target.  If the target URI's path component is
   empty, the client MUST send "/" as the path within the origin-form of
   request-target.  A Host header field is also sent, as defined in
   Section 5.4.

   For example, a client wishing to retrieve a representation of the
   resource identified as

     http://www.example.org/where?q=now

   directly from the origin server would open (or reuse) a TCP
   connection to port 80 of the host "www.example.org" and send the
   lines:

     GET /where?q=now HTTP/1.1
     Host: www.example.org

   followed by the remainder of the request message.

5.3.2.  absolute-form

   When making a request to a proxy, other than a CONNECT or server-wide
   OPTIONS request (as detailed below), a client MUST send the target
   URI in absolute-form as the request-target.

     absolute-form  = absolute-URI

   The proxy is requested to either service that request from a valid
   cache, if possible, or make the same request on the client's behalf
   to either the next inbound proxy server or directly to the origin
   server indicated by the request-target.  Requirements on such
   "forwarding" of messages are defined in Section 5.7.

   An example absolute-form of request-line would be:

     GET http://www.example.org/pub/WWW/TheProject.html HTTP/1.1

   To allow for transition to the absolute-form for all requests in some
   future version of HTTP, a server MUST accept the absolute-form in
   requests, even though HTTP/1.1 clients will only send them in
   requests to proxies.

5.3.3.  authority-form

   The authority-form of request-target is only used for CONNECT
   requests (Section 4.3.6 of [RFC7231]).

     authority-form = authority

   When making a CONNECT request to establish a tunnel through one or
   more proxies, a client MUST send only the target URI's authority
   component (excluding any userinfo and its "@" delimiter) as the
   request-target.  For example,

     CONNECT www.example.com:80 HTTP/1.1

5.3.4.  asterisk-form

   The asterisk-form of request-target is only used for a server-wide
   OPTIONS request (Section 4.3.7 of [RFC7231]).

     asterisk-form  = "*"

   When a client wishes to request OPTIONS for the server as a whole, as
   opposed to a specific named resource of that server, the client MUST
   send only "*" (%x2A) as the request-target.  For example,

     OPTIONS * HTTP/1.1

   If a proxy receives an OPTIONS request with an absolute-form of
   request-target in which the URI has an empty path and no query
   component, then the last proxy on the request chain MUST send a
   request-target of "*" when it forwards the request to the indicated
   origin server.

   For example, the request

     OPTIONS http://www.example.org:8001 HTTP/1.1

   would be forwarded by the final proxy as

     OPTIONS * HTTP/1.1
     Host: www.example.org:8001

   after connecting to port 8001 of host "www.example.org".
```

Now, after reading that, can you tell me if `"GET //www.example.org/pub/WWW/TheProject.html HTTP/1.1"` is an absolute-form URL or an origin-form URL? why exactly?

Right, so Apache/nginx/whatever directly handles the HTTP handoff is going to see "oneofmyvirtualdomains.com," and then the route is going to assume that it came in via "adifferentone.com." If the app assumes that some gatekeeping has been done at the server level, or that the cookies are for the second domain instead, that can be problematic.

Definitely an unlikely edge case, but I think it's worth at least documenting.

@tyrosinase We can't document anything until we've actually figured out what the correct behaviour is.

True. (Github needs a "someone is typing.") But I'm not sure the RFC's nail the correct behavior down here, or if they do if browsers consistently adhere to it.

"GET //www.example.org/pub/WWW/TheProject.html" would be invalid under 3986 if www.example.org was not the authority, therefore www.example.org must be the authority.

But I betcha if you request http://www.example.org//www.example.org/pub..." then the request is going to be "GET //www.example.org/pub/WWW/TheProject.html" under at least some browsers.

... aaaaaand I just volunteered to do some field testing, didn't I?

Just in case you're not aware, URL's like `//www.example.org/pub/WWW/TheProject.html` have a special meaning in HTML links for example, there they get turned into absolute URLs using the protocol the current HTML page has been requested with.

And to be clear, proxy servers are being built with Mojolicious too. So we do have to be sure before we can make changes.

I often advocate against spec lawyering, but this is a case where we most definitely have to. 👮

Yeah, I assume 3986 calls that out to avoid ambiguity in that specific case.

So I'm gonna go poke through specs and do some field testing and report back with my findings.

Should we manage to spec lawyer ourselves into believing that `//www.example.org/pub/WWW/TheProject.html` should be treated as origin-form we could theoretically use a workaround like this.
```diff
diff --git a/lib/Mojo/Message/Request.pm b/lib/Mojo/Message/Request.pm
index 64e9b843e..80f4086c2 100644
--- a/lib/Mojo/Message/Request.pm
+++ b/lib/Mojo/Message/Request.pm
@@ -55,7 +55,7 @@ sub extract_start_line {
   return !$self->error({message => 'Bad request start-line'})
     unless $1 =~ /^(\S+)\s+(\S+)\s+HTTP\/(\d\.\d)$/;
   my $url = $self->method($1)->version($3)->url;
-  return !!($1 eq 'CONNECT' ? $url->host_port($2) : $url->parse($2));
+  return !!($1 eq 'CONNECT' ? $url->host_port($2) : $url->parse_target($2));
 }

 sub fix_headers {
diff --git a/lib/Mojo/URL.pm b/lib/Mojo/URL.pm
index 261ae6828..eaa5519bd 100644
--- a/lib/Mojo/URL.pm
+++ b/lib/Mojo/URL.pm
@@ -71,6 +71,12 @@ sub parse {
   return $self;
 }

+sub parse_target {
+  my ($self, $target) = @_;
+  $target =~ s!^/(/+)!'/'.url_escape($1)!ge;
+  return $self->parse($target);
+}
+
 sub password { (shift->userinfo // '') =~ /:(.*)$/ ? $1 : undef }

 sub path {
diff --git a/t/mojo/request.t b/t/mojo/request.t
index 7b04a1075..e4ff44a18 100644
--- a/t/mojo/request.t
+++ b/t/mojo/request.t
@@ -456,9 +456,9 @@ $req->parse("o World!\n1234\nlalalala\n");
 ok $req->is_finished, 'request is finished';
 is $req->method,      'GET', 'right method';
 is $req->version,     '1.0', 'right version';
-is $req->url->host, 'foo',            'no host';
-is $req->url->path, '/bar//baz.html', 'right path';
-is $req->url, '//foo/bar//baz.html?foo=13#23', 'right URL';
+is $req->url->host, undef, 'no host';
+is $req->url->path, '/%2Ffoo/bar//baz.html', 'right path';
+is $req->url, '/%2Ffoo/bar//baz.html?foo=13#23', 'right URL';
 is $req->headers->content_type,   'text/plain', 'right "Content-Type" value';
 is $req->headers->content_length, 27,           'right "Content-Length" value';
```
Since we already normalize `%2F` to `/`.

> Now, after reading that, can you tell me if "GET //www.example.org/pub/WWW/TheProject.html HTTP/1.1" is an absolute-form URL or an origin-form URL? why exactly?

rfc7230:
> absolute-form = absolute-URI

rfc3986:
> absolute-URI  = scheme ":" hier-part [ "?" query ]

```//www.example.org/pub/WWW/TheProject.html``` has no scheme, so **origin-form**




@dim0xff It appears you are correct, following the BNF through the specs does indeed lead to that conclusion.