Content-Length header and 1xx/204 responses

As discussed in #1163 our HTTP stack is not quite spec compliant. 1xx and 204 HTTP responses MUST NOT include a `Content-Length` header. https://tools.ietf.org/html/rfc7230#section-3.3.2
> A server MUST NOT send a Content-Length header field in any response with a status code of 1xx (Informational) or 204 (No Content).

Is this as simple as

```diff
diff --git a/lib/Mojo/Message/Response.pm b/lib/Mojo/Message/Response.pm
index 0cb51157a..4570be2b2 100644
--- a/lib/Mojo/Message/Response.pm
+++ b/lib/Mojo/Message/Response.pm
@@ -112,6 +112,11 @@ sub fix_headers {
   my $headers = $self->headers;
   $headers->date(Mojo::Date->new->to_string) unless $headers->date;
 
+  # https://tools.ietf.org/html/rfc7230#section-3.3.2
+  if ($self->is_info || $self->is_empty) {
+    $headers->remove('Content-Length');
+  }
+
   return $self;
 }
 
diff --git a/t/mojo/response.t b/t/mojo/response.t
index 16bce3572..3652ce219 100644
--- a/t/mojo/response.t
+++ b/t/mojo/response.t
@@ -895,8 +895,8 @@ is $res->message,     'Switching Protocols', 'right message';
 is $res->version,     '1.1', 'right version';
 is $res->headers->connection, 'Upgrade', 'right "Connection" value';
 is $res->headers->date, 'Sun, 17 Aug 2008 16:27:35 GMT', 'right "Date" value';
-is $res->headers->content_length, 0,           'right "Content-Length" value';
-is $res->headers->upgrade,        'websocket', 'right "Upgrade" value';
+ok !defined $res->headers->content_length, '"Content-Length" does not exist';
+is $res->headers->upgrade, 'websocket', 'right "Upgrade" value';
 is $res->headers->sec_websocket_accept, 'abcdef=',
   'right "Sec-WebSocket-Accept" value';
 is $res->headers->sec_websocket_protocol, 'sample',
```

Note that I use `is_empty` which includes 304 as well as 204. This is ok because earlier in that same RFC it states:

> A server MAY send a Content-Length header field in a 304 (Not Modified) response to a conditional GET request (Section 4.1 of [RFC7232]); a server MUST NOT send Content-Length in such a response unless its field-value equals the decimal number of octets that would have been sent in the payload body of a 200 (OK) response to the same request.

So `is_empty` handles that case too.